:root {
    --alto: #d9d9d9;
    --black: #000000;
    --blue: #0614a4;
    --white: #ffffff;
    --orange: #CD5007;

    --font-size-xs: 18px;
    --font-size-s: 24px;
    --font-size-m: 28px;
    --font-size-l: 32px;
    --font-size-xl: 72px;
    --font-size-xxl: 80px;

    --br-m: 20px;
    --br-xl: 40px;

    --font-family-arial: "Arial", sans-serif;
    --font-family-monda: "Monda", Helvetica;
    --gradient-color-blue: radial-gradient(
        50% 50% at 50% 50%,
        rgb(6.000000117346644, 20.000000707805157, 164.00000542402267) 0%,
        rgb(2.2682927967980504, 7.56097630597651, 62.00000390410423) 100%
    );

    --gradient-color-orange: linear-gradient(
        to bottom,
        rgb(255, 196.9874945282936, 89.24999848008156),
        rgb(205.00000298023224, 80.00000283122063, 7.000000057742)
          16.500000655651093%,
        rgb(205.00000298023224, 80.00000283122063, 7.000000057742)
          81.49999976158142%,
        rgb(255, 196.9874945282936, 89.24999848008156) 100%
    )1;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

body {
    position: relative;
    background-color: var(--c-bg-primary);
    margin: 0;
    padding: 0;
    font-family: cursive;
    scroll-behavior: smooth;
    background: var(--blue);
    background: radial-gradient(circle farthest-corner at center center, #0614a4 0%, #02083e 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #0614a4 0%, #02083e 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #0614a4 0%, #02083e 80%);
}

nav, main, aside, footer, header, section {
    display: block;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}
input, button, select, textarea {
    font: inherit;
    color: inherit;
    background-color: transparent;
}

button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.lists::-webkit-scrollbar {
    width: 0.2em;
}
.lists::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: hsl(0, 0%, 95.69%, 0.5) transparent;
}
.lists {
    scrollbar-color: transparent transparent;
}
.lists:hover {
    scrollbar-color: hsl(0, 0%, 95.69%, 0.5) transparent;
}

.border-gradient {
    background: rgba(255,197,89,1);
    background: -moz-linear-gradient(top, rgba(255,197,89,1) 0%, rgba(205,80,7,1) 22%, rgba(205,80,7,1) 74%, rgba(255,197,89,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,197,89,1)), color-stop(22%, rgba(205,80,7,1)), color-stop(74%, rgba(205,80,7,1)), color-stop(100%, rgba(255,197,89,1)));
    background: -webkit-linear-gradient(top, rgba(255,197,89,1) 0%, rgba(205,80,7,1) 22%, rgba(205,80,7,1) 74%, rgba(255,197,89,1) 100%);
    background: -o-linear-gradient(top, rgba(255,197,89,1) 0%, rgba(205,80,7,1) 22%, rgba(205,80,7,1) 74%, rgba(255,197,89,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,197,89,1) 0%, rgba(205,80,7,1) 22%, rgba(205,80,7,1) 74%, rgba(255,197,89,1) 100%);
    background: linear-gradient(to bottom, rgba(255,197,89,1) 0%, rgba(205,80,7,1) 22%, rgba(205,80,7,1) 74%, rgba(255,197,89,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc559', endColorstr='#ffc559', GradientType=0 );
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(95%, 80rem);
    min-block-size: 100vh;
    min-block-size: 100dvh;
    margin-inline: auto;
}